.App {
  text-align: center;
}

.App div {
  box-shadow: 8px 8px 8px red;
  margin: 10px;
}

.image, .imagepub{
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.image{
  height:200px;
  width: 250px;
  margin-bottom: 10px;
  
}

.image:hover, .imagepub:hover{
  transform:scale(1.2);
}
.imagepub{
  height: 120px;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .image {
    height: 150px;
    width: 220px;
    margin-bottom: 5px;
  }
  .imagepub {
    height: 110px;
    margin-bottom: 20px;
  }
